

/* Chatbox */
.chatbox {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

/* Contenido abierto */
.chatbox__support {
    display: flex;
    flex-direction: column;
    background: #eee;
    width: 300px;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
    border-radius: 10px;
}

/* Contenido cerrado */
.chatbox--active {
    transform: translateY(-30px);
    z-index: 123456;
    opacity: 1;
}

/* Botón */
.chatbox__button {
    text-align: right;
}


/* Header */
.chatbox__header {
    position: sticky;
    top: 0;
    background: rgb(221, 213, 164);
    padding: 6px;
    display: flex;
    justify-content: center;
    border-radius: 10px 10px 0 0;
}

/* Mensajes */
.chatbox__messages {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.messages__item {
    background: rgb(221, 213, 164);
    max-width: 60.6%;
    width: fit-content;
}

.messages__item--operator {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.messages__item--visitor {
    margin-right: auto;
    margin-top: 15px;
    padding-left: 15px;
}

/* Footer */
.chatbox__footer {
    display: flex;
    flex-direction: column;
    position: sticky;
    bottom: 0;
    text-align: end;
    padding: 5px;
    margin: 10px;
}

.chatbox__button button {
    padding: 10px;
    background: white;
    border: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 10px 15px black;
    cursor: pointer;
}