@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tags generales */

p {
    color: black;
}

a {
    color:rgb(221, 213, 164);
    text-decoration: none;
}

ul {
    list-style: none;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    color: black;
    padding-bottom: 1rem;
}

h3 {
    font-weight: 300;
    text-align: center;
    margin-bottom: 7px;
}

span {
    font-size: .9rem;
    color: grey;
}

h6 {
    font-size: 1.5rem;
    color:rgb(221, 213, 164);
    padding: 5px;
}

body{
    background: #fff;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

/* Maquetación */

.contenedor{
    width: 90%;
    max-width: 1300px; /*ancho máximo de la página*/
    margin: 20px auto; /*auto permite centrar nuestra página en forma horizontal*/
    display: grid;
    grid-template-columns: repeat(2,auto); /*3 columnas: contenido (con 2 widgets) + sidebar*/
    grid-template-rows: repeat(4, auto); /*4 filas: header, contenido, widgets, footer*/
    gap: 10px;
    grid-template-areas: "encabezado encabezado"
                         "contenido slider-1"
                         "contenido slider-2"
                         "pie pie";
}

.contenedor,
.contenedor .encabezado,
.contenedor .contenido,
.contenedor .pie {
padding: 20px;
}


/* Navegación */

nav {
    display: flex;
    flex-direction: row;
    align-content: space-between;   
    justify-content: space-between;
    align-items: center;
    padding: 1vw 8vw;
    grid-area: encabezado;
    background: black;
    color: rgb(221, 213, 164);
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

nav img {
    width: 150px;
}

 nav li  a {
    padding: 1.6rem;
    font-weight: bold;
}

/* Article */

.contenedor .contenido {
    background-color: rgb(221, 213, 164);
    grid-area: contenido;
}

/* Sliders */

    /* Slider 1 */

.slider-1{
    overflow: hidden;
    align-items: center;
    background-color: rgb(221, 213, 164);
    grid-area: slider-1;
    padding: 0;
    border-radius: 0;
    width: 400px;
}

.slider-1 figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

    /* Slider 2 */

.slider-2 {
    overflow: hidden;
    align-items: center;
    background-color: rgb(221, 213, 164);
    grid-area: slider-2;
    padding: 0;
    border-radius: 0;
    width: 400px;
}

.slider-2 figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

figure img {  
    max-width: 100%;  
    max-height: 100%;
    width: 20%;
    float: left;
    border-radius: 5px 5px 0 0;
    border-style: solid;
    border-color: rgb(221, 213, 164);
    border-width: 10px;
    border-radius: 5px;
}  

@keyframes slider {
    0% {left: 0;}20% {left: 0;}25% {left: -100%;}
    45% {left: -100%;}50% {left: -200%;}
    70% {left: -200%;}75% {left: -300%;}
    95% {left: -300%;}100% {left: -400%;}}


/* Footer */

.pie {
    background-color: black;
    grid-area: pie;
    display: flex;
    justify-content: space-around;
    align-items: centerff;
}

.redes-containers{
    justify-content: center;
    align-self: flex-start;
}

.redes-containers a{
    display: inline-block;
    grid-row-start: span 3;
    justify-content: flex-end;
    padding: 0px;
    margin: 0;
}

/* Media Queries */

    /* Tablet */

    @media screen and (max-width: 768px){
        .contenedor {
            grid-template-columns: repeat(1,1fr); 
            grid-template-rows: repeat(4, auto);
            grid-template-areas:    "encabezado"
                                    "contenido"
                                    "slider-1"
                                    "slider-2"
                                    "pie";
        }

        nav {
            padding: 1vw 3vw;
        }
    
        nav li  a {
            padding: 0.5rem;
            font-weight: bold;
        }

        .slider-1{
            width: auto;
        }

        .slider-2{
            width: auto;
        }
    }

    /* Movil */

    @media screen and (max-width: 450px){
        nav {
            display: flex;
            flex-direction: column;
        }
    
        nav ul {
            display: flex;
            flex-direction: column;
        }
    
        nav ul li {
            padding: 0.5rem;
        }
    
        nav ul li a {
            font-size: 20px;
        }
    
        .pie {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        .redes-containers {
            display: flex;
            flex-direction: row;
            align-items: center;
            align-content: center;
            justify-content: center;
        }
    
        .redes-containers a{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
    }