@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tags generales */

p {
    color: rgb(221, 213, 164);
}

a {
    color:rgb(247, 235, 195);
    text-decoration: none;
}

ul {
    list-style: none;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35, 35, 85);
}

span {
    font-size: .9rem;
    color: grey;
}

h6 {
    font-size: 1.1rem;
    color:rgb(247, 235, 195);
    padding-bottom: 10px;
}

body{
    background: #fff;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

/* Maquetación */

.contenedor{
    width: 90%;
    max-width: 1000px; /*ancho máximo de la página*/
    margin: 20px auto; /*auto permite centrar nuestra página en forma horizontal*/
    display: grid;
    grid-template-columns: repeat(1,1fr); /*3 columnas: contenido (con 2 widgets) + sidebar*/
    grid-template-rows: repeat(4, auto); /*4 filas: header, contenido, widgets, footer*/
    gap: 10px;
    grid-template-areas: "encabezado"
                         "contenido"
                         "pie";
}

.contenedor > div,
.contenedor .encabezado,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .pie {
padding: 20px;
border-radius: 4px;
}


/* Navegación */

nav {
    display: flex;
    flex-direction: row;
    align-content: space-between;   
    justify-content: space-between;
    align-items: center;
    padding: 1vw 8vw;
    grid-area: encabezado;
    background: black;
    color: hsl(52, 91%, 69%);
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

nav img {
    width: 150px;
}

 nav li  a {
    padding: 1.6rem;
    font-weight: bold;
}

/* Contenido */

.contenedor .contenido {
    background-color: rgb(221, 213, 164);
    /* grid-area: contenido; */
}

/*resumenes*/

.contenedor #course .course-box {
    grid-area: contenido;
    
}

#course{
    padding:8vw 0 8vw ;
    text-align: center;
}

#course .course-box{
    display: flex;
    flex-direction: row;
    /* grid-template-columns: repeat(auto-fit, minimax(320px, 1fr)); */
    grid-gap: 1rem;
    margin-top: 50px;

}
#course.courses{
    text-align: start;
    background: #f9f9ff;
    height: 100%;

}
#course .courses img{
    width: 100%;
    background-size: cover;
    background-position: center;

}
#course .courses .details{
    padding: 15px 15px 0 15px;
}
#course .courses .details i{
color: #FDC93B;
font-size: .9rem;

}

/* Footer */

.pie {
    background-color: black;
    grid-area: pie;
    display: flex;
    justify-content: space-around;
    align-items: centerff;
}

.redes-containers{
    justify-content: center;
    align-self: flex-start;
}

.redes-containers a{
    display: inline-block;
    grid-row-start: span 3;
    justify-content: flex-end;
    padding: 0px;
    margin: 0;
}