@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tags generales */

h2 {
    color: rgb(221, 213, 164);
    width: 100%;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
}

a {
    color:rgb(221, 213, 164);
    text-decoration: none;
}

ul {
    list-style: none;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35, 35, 85);
    font-weight: 100%;
}

span {
    font-size: .9rem;
    color: grey;
}

h5 {
    font-size: 1.3rem;
    color:rgb(221, 213, 164);
    padding: 5px;
    cursor: pointer;
}

h6 {
    font-size: 1.3rem;
    color:rgb(221, 213, 164);
    padding: 5px;
}

body{
    background: #fff;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

/* Maquetación */

.contenedor{
    width: 90%;
    max-width: 1000px; /*ancho máximo de la página*/
    margin: 20px auto; /*auto permite centrar nuestra página en forma horizontal*/
    display: grid;
    grid-template-columns: repeat(1,1fr); /*3 columnas: contenido (con 2 widgets) + sidebar*/
    grid-template-rows: repeat(3, auto); /*4 filas: header, contenido, widgets, footer*/
    gap: 10px;
    grid-template-areas: "encabezado"
                         "contenido"
                         "pie";
}

.contenedor > div,
.contenedor .encabezado,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .pie {
padding: 20px;
border-radius: 4px;
}

/* Navegación */

nav {
    display: flex;
    flex-direction: row;
    align-content: space-between;   
    justify-content: space-between;
    align-items: center;
    padding: 1vw 8vw;
    grid-area: encabezado;
    background: black;
    color: rgb(221, 213, 164);
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

nav img {
    width: 150px;
}

 nav li a {
    padding: 1.6rem;
    font-weight: bold;
}

/* Resumenes */

#course {
    background-color: white;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-color: black;
    grid-area: contenido;
}

#course .course-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 1rem;
    margin-top: 20px;
}

#course .courses {
    display: flex;
    flex-direction: column;
    text-align: start;
    height: 100%;
}

#course .courses img {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin: 15px;
    cursor: pointer;
}

#course .courses .details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#course .courses .details .star i {
    color: #FDC93B;
    font-size: .9rem;
}

/* Footer */

.pie {
    background-color: black;
    grid-area: pie;
    display: flex;
    justify-content: space-around;
    align-items: centerff;
}

.redes-containers{
    justify-content: center;
    align-self: flex-start;
}

.redes-containers a{
    display: inline-block;
    grid-row-start: span 3;
    justify-content: flex-end;
    padding: 0px;
    margin: 0;
}

/* Media Queries */

    /* Tablet */

    @media screen and (max-width: 768px){
        .contenedor {
            grid-template-columns: repeat(1,1fr); 
            grid-template-rows: repeat(4, auto);
            grid-template-areas:    "encabezado"
                                    "contenido" 
                                    "pie";
        }

        nav {
            padding: 1vw 3vw;
        }
    
        nav li  a {
            padding: 0.5rem;
            font-weight: bold;
        }

        .slider-1{
            width: auto;
        }

        .slider-2{
            width: auto;
        }
    }

    /* Móvil */

@media screen and (max-width: 450px){
    nav {
        display: flex;
        flex-direction: column;
    }

    nav ul {
        display: flex;
        flex-direction: column;
    }

    nav ul li {
        padding: 0.5rem;
    }

    nav ul li a {
        font-size: 20px;
    }

    .pie {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .redes-containers {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .redes-containers a{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}